# Node / RN
**/node_modules/
**/.expo/
**/.expo-shared/
**/.gradle/
**/.idea/
**/build/
**/android/app/build/
**/ios/Pods/
**/ios/build/

# Env & secrets
*.keystore
*.p8
*.pem
*.jks
*.keystore
*.env
*.env.*
*firebase-adminsdk*.json
serviceAccount*.json

# Misc
.DS_Store
