# Node / RN
**/node_modules/
**/.expo/
**/.expo-shared/
**/.gradle/
**/.idea/
**/build/
**/android/app/build/
**/ios/Pods/
**/ios/build/


# Env & secrets
*.keystore
*.p8
*.pem
*.jks
*.keystore
*.env
*.env.*
*firebase-adminsdk*.json
serviceAccount*.json

# Misc
.DS_Store

# secrets
*.json

backend/accounts.json

# Firebase Admin key
serviceAccount.json
# Node
frontend/node_modules/
backend/node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Expo / RN build outputs
frontend/android/
frontend/ios/
frontend/.expo/
.expo/
.expo-shared/

# Python
backend/.venv/
__pycache__/
*.pyc
.DS_Store


backend/accounts.json
frontend/android/app/google-services.jsonbackend/accounts.json
frontend/android/app/google-services.json
